body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
fieldset, img { border:0; }
table { border-collapse:collapse; border-spacing:0; }
html,body{height: 100%;}

html{
	font-size: 100px;
	font-family: PingFangSC-Semibold;
	/* --testColor:pink;
	--testColor2:wheat; */

	--navigationBgColor:#0064D9;
	--whiteColor:#FFF;
	/*字体大小*/
	--fontSize1:0.12rem;
	--fontSize2:0.14rem;
	--fontSize3:0.16rem;
	--fontSize4:0.18rem;
	--fontSize5:0.2rem;
	--fontSize6:0.22rem;
	--fontSize7:0.24rem;
	--fontSize8:0.26rem;
	--fontSize9:0.28rem;
	/*颜色*/
	--color1:#3F3F3F;
	--color2:#005CC7;
	--color3:#5E6875;
	--color4: #195ADD;
	--color5:#e5edf3;
	--color6: #0067FF;
	
	/*背景颜色*/
	--bgColoor1:#fbfdfd;
	--bgColor2:#FF0000;
	--bgColor3:#EBB763;
	/*字体*/
	--fontFamily1:PingFangSC-Semibold;
	--fontFamily2:Helvetica;
	--fontFamily3:PingFangSC-Regular;
}
body{
	font-size: 0.14rem;
}
