body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
fieldset, img { border:0; }
table { border-collapse:collapse; border-spacing:0; }
html,body{height: 100%;}

html{
	font-size: 100px;
	font-family: PingFangSC-Semibold;
	/* --testColor:pink;
	--testColor2:wheat; */

	--navigationBgColor:#0064D9;
	--whiteColor:#FFF;
	/*字体大小*/
	--fontSize1:0.12rem;
	--fontSize2:0.14rem;
	--fontSize3:0.16rem;
	--fontSize4:0.18rem;
	--fontSize5:0.2rem;
	--fontSize6:0.22rem;
	--fontSize7:0.24rem;
	--fontSize8:0.26rem;
	--fontSize9:0.28rem;
	/*颜色*/
	--color1:#3F3F3F;
	--color2:#005CC7;
	--color3:#5E6875;
	--color4: #195ADD;
	--color5:#e5edf3;

	
	--color7:#323C47;

	--color6: #0067FF;
	--color8:#DCE0E6;/*命名冲突，由color6改为color8*/
	--color9:#95a0ad;
	--color10:#778CA2;
	--color11:#98a9bc;
	--color12:#1B1E24;

	--color13:#FFAB2B;/*橙黄色*/
	--color14:#FE4D97;/*紫粉色*/
	--color15:#4285f4;
	--color16:#626262;
	--color17:#f54813;
	--color18:#002257;
	--color19:#97A3B4;
	--color20:#646464;

	/*背景颜色*/
	--bgColoor1:#fbfdfd;
	--bgColor2:#FF0000;
	--bgColor3:#EBB763;
	--bgColor4:#252631;
	--bgColor5:#F8FAFB;
	--bgColor6:#FE5578;
	--bgColor7:#2EBD41;
	/*字体*/
	--fontFamily1:PingFangSC-Semibold;
	--fontFamily2:Helvetica;
	--fontFamily3:PingFangSC-Regular;
	--fontFamily4:OpenSans;
	/*border-color*/
	--borderColor1:#E6EAEE;
	--borderColor2:#E8ECEF;
	--borderColor3:#6DD230;
	--borderColor4:#e4e8eb;
	--borderColor5:#0064FF;
	--borderColor6:#E9EFF4;
}
body{
	font-size: 0.14rem;
}
.select-time-css>.el-input__inner{
    border: none !important;
    height: auto;
}
.select-time-css>.el-input__inner>.el-range-input{
    border: 1px solid #dcdfe6;
    width: 109px;
    height: 35px;
    border-radius: 4px;
}
.select-time-css>.el-input__inner>i{
    display: none;
}
.mark{
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.mark-inner{
	position: relative;
	width: 100%;
	height: 100%;
	background: rgba(37,38,49,.6);
	display: flex;
	align-items: center;
	justify-content: center;
}



.Admin-title {
    margin-bottom: 42px;
}
.admin-oMain {
    padding: 30px 38px;
    background: #ffffff;
    border: 1px solid #e5edf3;
    box-shadow: 0 6px 36px 0 rgba(0, 62, 100, 0.04);
    border-radius: 4px;
}
.admin-oMain>div{
	position: relative;
}
.mainTab{
	display: flex;
	display: -webkit-flex
}
.mainTab>div:first-child{
	width:100%
}

#app .el-button--mini{
	width: .57rem;
	height: .2rem;
	line-height: .2rem;
	padding: 0;
}


.seeDanganClass {
    width: 57px;
    height: 20px;
    background: rgba(255, 171, 43, 0.1);
    border: 1px solid rgba(255, 171, 43, 0.6);
    border-radius: 3px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #ffab2b;
    line-height: 1px;
}
.inviteUserClass {
    width: 57px;
    height: 20px;
    line-height: 1px;
    background: rgba(254, 77, 151, 0.1);
    border: 1px solid rgba(254, 77, 151, 0.6);
    border-radius: 3px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #fe4d97;
}
.seeHistoryMessage {
    width: 57px;
    height: 20px;
    background: rgba(66, 133, 244, 0.1);
    border: 1px solid rgba(66, 133, 244, 0.6);
    border-radius: 3px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #4d7cfe;
    line-height: 1px;
}
.goTohuizhen {
    width: 57px;
    height: 20px;
    background: rgba(66, 133, 244, 0.1);
    border: 1px solid rgba(66, 133, 244, 0.6);
    border-radius: 3px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #4d7cfe;
    line-height: 1px;
}
.overClass {
    width: 57px;
    height: 20px;
    background: rgba(119, 140, 162, 0.1);
    border: 1px solid rgba(119, 140, 162, 0.6);
    border-radius: 3px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #778ca2;
    line-height: 1px;
}

.startConsul {
    width: 196px;
    height: 40px;
    background: #4da1ff;
    border-radius: 4px;
    font-family: PingFangSC-Semibold;
    font-size: 22px;
    color: #ffffff;
    letter-spacing: 0.92px;
    text-align: center;
    line-height: 0px;
}



/* 表格 */
.public-list td {
    padding: 8px 0;
    font-family: PingFangSC-Regular;
    font-size: var(--fontSize1);
    color: #5e6875;
    letter-spacing: 0;
}

.public-list th .cell {
    display: flex;
    justify-content: start;
    align-items: center;
}
.public-list th {
    font-family: PingFangSC-Semibold;
    font-size: var(--fontSize2);
    color: #5e6875;
    letter-spacing: 0;
    border-right: none;
}
.public-list td {
    border-right: none;
}
.public-list td .cell {
    display: flex;
    justify-content: start;
    align-items: center;
}
.public-list > div {
    border: none;
}
.public-list .el-table .cell {
    padding-left: 0;
}

.public-list
    /deep/
    .el-table__header-wrapper
    .el-table__header
    .has-gutter
    tr
    th
    div {
    text-align: center;
    white-space: nowrap !important;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.public-list /deep/ .el-table__body-wrapper tbody tr td .cell span {
    text-align: center;
    /* white-space: nowrap !important; */
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.el-table th > .cell,
.el-table th div {
    display: inline !important;
}
/* 随访 */

.QuestTitle1{
    width:23px !important;
}
.QuestTitle1>input{
    width:23px !important;
    padding: 0 !important;
}
.followUp2-tab {
    margin: 0 auto;
    display: flex;
    display: -webkit-flex;
    width: 314px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: 1px solid #e5edf3;
    border-radius: 4px;
}
.followUp2-tab > li {
    flex-grow: 1;
    cursor: pointer;
}
.followUp2This {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 0.3px;
    background: #195bdd;
    border-radius: 4px 0 0 4px;
}
.startConsul {
    margin-top: 21px;
    width: 196px;
    height: 40px;
    background: #4da1ff;
    border-radius: 4px;
    font-family: PingFangSC-Semibold;
    font-size: 22px;
    color: #ffffff;
    letter-spacing: 0.92px;
    text-align: center;
    line-height: 0px;
}
.myStartConsul {
    margin-top: 0px;
}
/* 医生样式 */
.followDoc .titleTop {
    display: flex;
    display: -webkit-flex;
    margin-bottom: 45px;
}
.followDoc .titleTop > li {
    width: 176px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #0064d9;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}
.followDoc .titleTop .title-this {
    background: #0064d9;
    color: #ffffff;
}
.viewFollow {
    width: 57px;
    height: 20px;
    background: rgba(66, 133, 244, 0.1);
    border: 1px solid rgba(66, 133, 244, 0.6);
    border-radius: 3px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #4d7cfe;
    line-height: 0;
}

/* 新增随访表 */
.addFollowTitle > input {
    width: 338px;
    height: 27px;
}
.el-dialog--center .el-dialog__body {
    padding: 0px 25px 30px;
}
.questTableName {
    color: red;
}
.addFollowMain input {
    height: 27px;
}
.addFollowMain li {
    margin-bottom: 24px;
    position: relative;
}
.addFollowMain1 > ul > li::before {
    content: "";
    display: block;

    position: absolute;
    left: -30px;
    top: 11px;
    width: 20px;
    height: 16px;
    background: url(../../assets/img/Shape-Copy.png);
}
.addFollowMain1 .el-form-item__label {
    text-align: left;
}
.remindTime {
    position: relative;
    margin-bottom: 30px
}
.remindTime::before {
    content: "";
    display: block;

    position: absolute;
    left: -32px;
    top: 5px;
    width: 20px;
    height: 16px;
    background: url(../../assets/img/Shape-Copy.png);
}
.addFollowMain .oTime input {
    width: 158px;
    height: 27px;
}
.addFollowMain .firstZhiliao {
    position: relative;
}
.addFollowMain .firstZhiliao::before {
    content: "";
    display: block;

    position: absolute;
    left: -30px;
    top: 11px;
    width: 20px;
    height: 16px;
    background: url(../../assets/img/Shape-Copy.png);
}
.questBox > li {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    padding-left: 40px;
}
.questBox > li::before {
    content: "";
    display: block;

    position: absolute;
    top: 2px;
    left: 11px;
    width: 20px;
    height: 16px;
    background: url(../../assets/img/Shape.png);
}
.addFollowBtn {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    height: 27px;
    background: white;
}
.questDelete {
    display: inline-block;
    cursor: pointer;
    width: 14px;
    height: 14px;
}
.questDelete > img {
    width: 100%;
    height: 100%;
}
.questDeleteSend{
    position: absolute;
    right: 0;
    top: 0;
}
.addFollowHou {
    width: 100px;
}
.el-input__icon {
    line-height: 27px;
}
.addFollowBox .el-form-item__content {
    margin-left: 0 !important;
}
.el-form-item {
    margin-bottom: 0;
}
.addArticleImg {
    position: relative;
    margin-bottom: 33px;
    width: 100px;
    height: 82px;
}
.addArticleImg .avatar-uploader .el-upload {
    width: 100%;
    height: 100%;
}
.addArticleImg > div:first-child {
    width: 100% !important;
    height: 100% !important;
}
.addArticleImg img {
    width: 100%;
    height: 100%;
}
.addArticleImg > div:last-child {
    position: absolute;
    width: 100%;
    height: 24px;
    bottom: 0;
    text-align: center;
    line-height: 24px;
    font-family: .PingFangSC-Regular;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: -0.17px;
}
.addArticleImg input {
    display: none !important;
}
.ql-container {
    height: 144px;
}
.addArticleEditor {
    margin-bottom: 10px;
}
.sendTemplateBox {
    position: relative;
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    height: 100px;
    background: rgba(250, 251, 252, 0);
    border: 1px solid #d8dfe5;
    border-radius: 5px;
}
.sendTemplateBox > ul {
    display: flex;
    display: -webkit-flex;
}
.sendTemplateBox > ul > li {
    padding: 2px 2px;
}
.addTemplate {
}
.mydAddTemplate-title {
    width: 100%;
    height: 117px;
    line-height: 117px;
    margin-bottom: 45px;
    opacity: 0.56;
font-family: PingFangSC-Regular;
font-size: 22px;
color: #000000;
letter-spacing: 0.92px;
text-align: center;
background: url("../../assets/img/Bitmap.png") -14px -12px;
}
.mydAddTemplate-title > img {
    width: 100%;
    height: 100%;
}
.mydAddTemplateClass .el-form-item__label{
    font-family: PingFangSC-Regular;
font-size: 14px;
color: #939EAB;
letter-spacing: 0;
}
.mydAddTemplateClass .delete{
    width: 20px;
    height: 20px;
    margin-top: 6px;
    cursor: pointer;
}
.mydAddTemplateClass .sureBtn{
    width:196px;
    height: 39px;
    background: #4DA1FF;
border-radius: 4px;
font-family: PingFangSC-Semibold;
font-size: 12px;
color: #FFFFFF;
letter-spacing: 0.5px;
text-align: center;
margin-bottom: 70px;
}
.mydAddTemplateClass .addMydListClass{
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: #D8DFE5;
    text-align: center;
    line-height: 32px;
    left: 479px;
    top: 1px;
    z-index:99999999999999
}
.mydAddTemplateClass .addMydListClass>img{
    width:75%;
    height:75%;
}
.mydAddTemplateClass .delete>img{
    width:100%;
    height: 100%;
    }
.mydAddTemplateClass .el-textarea__inner{
    width: 705px;
    height: 100px;
}
.mydAddTemplateClass  .el-input__inner{
    width:240px;
    height: 39px;
}
.mydAddTemplateClass .el-form-item{
margin-bottom: 7px
}
.mydAddTemplateClass .el-dialog__body{
padding: 0 !important;
height: 415px;
overflow: auto;
}
.mydAddTemplateClass .huifuBoxClass>div:nth-child(1){
    line-height: 40px;
    padding-left: 78px;
    font-family: .PingFangSC-Regular;
    font-size: 14px;
    color: #4285F4;
}
.mydQuestList {
    display: flex;
    display: -webkit-flex;
    padding-left: 75px;
    margin-bottom: 11px;
}
.mydQuestList > div {
    display: flex;
    display: -webkit-flex;
}
.mydQuestList>div>div{
    position: relative;
    background: #FFFFFF;
border: 1px solid #E4E8EB;
border-radius: 5px;
width:165px;
height: 32px;
margin-right: 15px;
}
.mydQuestList>div>div input {
    border:none
}
.mydQuestList .el-form-item__label{
    width:53px !important; 
    line-height: 29px;
    font-family: PingFangSC-Light;
font-size: 14px;
color: #4285F4;
}
.mydQuestList .el-form-item__content{
    margin-left:53px !important
}
.mydQuestList .el-input__inner{
    width: 80px;
    height: 30px;
    padding: 0;
    vertical-align: text-bottom;
    font-family: PingFangSC-Light;
font-size: 14px;
color: #4285F4;
}
.addTemplate {
    width: 109px;
    text-align: center;
    position: absolute;
    top: 18px;
    left: 50%;
    margin-left: -55px;
}
.addTemplate > div:first-child {
    display: inline-block;
    width: 43px;
    height: 43px;
}
.addTemplate > div:first-child > img {
    width: 100%;
    height: 100%;
}
.DistanceFirst {
    display: flex;
    display: -webkit-flex;
    margin-top: -6px;
}
.DistanceFirst > div {
    width: 70px;
}
.addFollowBox .el-dialog__body {
    padding: 25px 50px;
        height: 500px; 
     overflow: auto;
}

/* 新增问诊模板 */
.addQuestBox .el-dialog__header,
.addQuestBox .el-dialog__body {
    background: #eff5fb;
}
.addQuestBox .el-dialog__body {
    padding: 18px 25px 30px;
}
.addQuestBox .el-form-item__label {
    width: 20px !important;
    line-height: 28px;
    padding: 0;
    text-align: center;
   
}
.addQuestBox .el-form-item__content {
    margin-left: 20px !important;
}
.addQuestBox .addFollowTitle{
    margin-left: -16px;
}
.addQuestBox input {
    width: 500px;
    border: none;
    padding-left:2px;
}
.addQuestBox input::-webkit-input-placeholder{
   font-size: 14px
}
.addQuestBox .el-form-item {
    width: 500px;
    height: 27px;
    background: white;
    margin-bottom: 10px;
}
.addQuestBox .el-form-item__content {
    line-height: 27px;
}
.redioSingleInput .el-checkbox__input {
    left: -8px;
}
.redioSingle > label {
    display: block;
        margin: 10px 0;
    
    position: relative;
    width: 377px;
    background: white;
    margin-left: 3px;
    padding-left: 10px;
}
.redioSingle .el-radio+.el-radio{
    margin-left:3px;
}
.redioSingle > label:hover .questItemDelete{
    display: block
}
.redioSingle > .el-checkbox {
margin-left: 0;
background: white;
padding-left: 19px;
}
.addQuestUl > li {
    position: relative;
    padding-top: 10px;
}
.addQuestUl .el-checkbox__label{
    padding-left:0
}
.deleteQuestList {
    position: absolute;
    right: 107px;
    top: 11px;
    width: 13px;
    height: 13px;
    cursor: pointer;
}
.deleteQuestList > img {
    width: 100%;
    height: 100%;
}
.redioSingleInput input {
    width: 322px;
}
.redioSingleInput .el-input {
    width: 344px;
}
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: #409eff;
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}
.avatar {
    width: 178px;
    height: 178px;
    display: block;
}
.questItemDelete {
    display: none;
    width: 13px;
    height: 13px;
        position: absolute;
    right: 14px;
    top: 5px;
}
.questItemDelete > img {
    width: 100%;
    height: 100%;
}
.itemChoiceItemBox{
        width: 15px;
    height: 15px;
    position: absolute;
    right: 229px;
    top: 50px;
    cursor: pointer;
}

.itemChoiceItemBox>img{
    width: 100%;
    height: 100%;
}
.mydAddSuosuClass {
    display: flex;
    display: -webkit-flex;
    box-shadow: 3px 3px 3px #666;
}
.mydAddSuosuClass > ul:first-child {
    cursor: pointer;
    width: 100px;
}
.mydAddSuosuClass > ul:nth-child(2) {
    width: 100px;
    cursor: pointer;
}
.mydAddSuosuClass > div:last-child {
    width: 100px;
    cursor: pointer;
}
.mydAddTemplateClass  .el-dialog__body{
    padding:0
}
/* .mydAddTemplateClass .el-dialog__header{
    padding:0
} */
/* .mydAddTemplateClass form{
    padding:0 74px;
} */
.classification {
    position: relative;
}
.mydAddSuosuClass {
    position: absolute;
    background: white;
    z-index:9999;
    padding: 14px;
    box-sizing: border-box;
}
.ArcticClass .el-form-item__content {
    margin-left: 0px !important;
}
.ArcticClass .el-dialog__header,
.ArcticClass .el-dialog__body {
    background: #eff5fb;
}
.ArcticClass .el-dialog__body {
    padding: 0px 6% 30px;
}
.ArcticClass .el-select .el-input__inner {
    width: 338px;
    height: 27px;
}
.ArcticClass .el-select {
    margin-bottom: 10px;
}
.articleContent {
    font-family: .PingFangSC-Regular;
    font-size: 12px;
    color: #646464;
    letter-spacing: -0.17px;
}
/* .addFollowMain > div:first-child {
    padding-left: 2.4%;
    padding-top: 3px;
    margin-bottom: 4.1%;
    width: 509px;
    height: 27px;
    background: #ffffff;
} */
.addFollowMain .el-checkbox__label {
    font-family: .PingFangSC-Regular;
    font-size: 14px;
    color: #030303 !important;
    letter-spacing: -0.17px;
}
.addFollowMain1 > button {
    width: 169px;
    height: 38px;
   font-family: .PingFangSC-Regular;
font-size: 18px;
color: #FFFFFF;
letter-spacing: -0.25px;
    line-height: 10px;
    border: 2px solid #6CA4FC;
    background: #6CA4FC;
    border-radius:0
}
.choiceItemBox{
    margin-bottom: 17px;
    display: flex;
    display: -webkit-flex;
    width:81px;
    height: 27px;

    background: #F5F6FB;
border: 1px solid #D4D4D4;
}
.choiceItemBox > span {
    display: block;
    text-align: center;
    cursor: pointer;
    width: 333%;
    line-height: 38px;
   font-family: .PingFangSC-Regular;
font-size: 10px;
color: #8C8C8C;
letter-spacing: -0.12px;
border-right: 1px solid #D4D4D4;
line-height: 27px;
}
.choiceItemBox > span:nth-child(3) {
border-right:none
}
.choiceItemBoxAtc{
    background: white
}
.warnNumBox {
    display: flex;
    display: -webkit-flex;
    cursor: pointer;
}
.warnNum {
    width: 60px;
    height: 17px;
    background: #ffffff;
    border: 1px solid #e4e8eb;
    border-radius: 3px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #909191;
    text-align: center;
    line-height: 17px;
}
.ificationBox {
    position: relative;
}
.ificationBox > div:last-child {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 8px;
    top: -6px;
}
.ificationBox > div:last-child > img {
    width: 100%;
    height: 100%;
}
.addFollowBoxFollow .el-dialog__header,
.addFollowBoxFollow .el-dialog__body {
    background: #eff5fb;
}
.firstDoctorTime .el-form-item__label {
    width: 110px !important;
}
.firstDoctorTimeBox{
    position: relative;
}
.firstDoctorTimeBox::before{
    content: "";
    display: block;

    position: absolute;
    left: -30px;
    top: 11px;
    width: 20px;
    height: 16px;
    background: url(../../assets/img/Shape-Copy.png);
}
/* .groupClass {
    position: relative;
    cursor: pointer;
}
.groupClass:hover ul {
    display: block;
} */
 /* .groupClass > div:first-child {
    width: 50px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #c1d9f3;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #5e696e;
    letter-spacing: 0;
} */
/*
.groupClass > ul {
    position: absolute;
    display: none;
    padding-top: 10px;
    padding-left: 10px;
    width: 125px;

    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #5e696e;
    letter-spacing: 0;
}
.groupClass > ul > li {
    padding-left: 5px;
    width: 100%;
    height: 22px;
    background: #f4f8fa;
} */
.groupClassBtn{
    width: 50px !important;
    height: 20px !important;
    text-align: center;
    line-height: 20px !important;
    background: #c1d9f3 !important;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #5e696e !important;
    border:none;
    letter-spacing: 0;
}
.groupClick {
    background: #cccccc;
}
.pieChartClass {
    display: flex;
    display: -webkit-flex;
}
.seeDanganClass {
    width: 57px;
    height: 20px;
    background: rgba(255, 171, 43, 0.1);
    border: 1px solid rgba(255, 171, 43, 0.6);
    border-radius: 3px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #ffab2b;
    line-height: 1px;
}
.sendMessage {
    width: 57px;
    height: 20px;
    background: rgba(255, 0, 0, 0.1);
    border: 1px solid #ea2929;
    border-radius: 3px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #ff0000;
    line-height: 1px;
}
.seeDetail {
    width: 57px;
    height: 20px;
    background: rgba(66, 133, 244, 0.1);
    border: 1px solid rgba(66, 133, 244, 0.6);
    border-radius: 3px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    line-height: 1px;
    color: #4d7cfe;
}
.addImgClass {
    position: absolute;
    left: 0;
    top: 0;
}
.el-switch__core{
    width: 28px !important;
    height: 16px;
    /* /* border-color: #4D7CFE !important; */
    border-color: #F2F4F6 !important; 
    background: #F2F4F6 !important;
box-shadow: inset 0 0 1px 0 rgba(0,0,0,0.50);
}
.el-switch__core:after{
    width: 8px;
    height: 8px;
    background:#98A9BC;
    top: 3px;
    left: 2;
}
 .pieChartClass>div{
        width:333%
    }
    .addArticleUrlClass > input {
        width: 509px;
        height: 27px;
        /* background: #E7E7E7; */
        border: 1px solid #dedede;
    }
    .addFollowWarnClass {
        background: white;
        padding-top: 2px;
        padding-left: 20px;
        margin-bottom: 22px;
    }
    .addFollowTableClass {
        background: #6ca4fc !important;
        color: white !important;
        border-radius: 0;
    }
    .ooRed {
        color: red !important;
    }
    .ooBlue{
        color: #0067FF !important;
    }

/* 聊天狂样式 */
.chatFileClass{
    border: none;
width: 40px !important;
height: 55px !important;
background: none !important;
margin-top: -4px !important;
}
.sendMessageChat {
}
.chat {
    width: 636px;
    height: 568px;
}
.chatMessage {
    width: 100%;
    height: 310px;
    border-bottom: 1px solid #e5edf3;
    overflow: hidden;
}
.sendBtnBox {
    background: white;
}
.sendIcon {
    display: flex;
    display: -webkit-flex;
    padding-top: 10px;
    background: white;
}
.sendIcon > span {
    position: relative;
    margin: 0 3px;
    display: inline-block;
    width: 44px;
    height: 55px;
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: 8px;
    cursor: pointer;
}
.enterFile:hover ul {
    display: block;
}
.enterFile ul {
    display: none;
}
.chatRecord > li {
    width: 100%;
    margin-bottom: 10px;
}
.recordLf {
    display: flex;
    text-align: left;
}
.recordLf .otherImg {
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.recordLf .otherImg > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.recordLf .otherCon h4 {
    font-family: Lato-Bold;
    font-size: 14px;
    color: #323c47;
    letter-spacing: 0;
    line-height: 27px;
    margin-bottom: 2px;
}
.recordLf .otherCon h4 > span:nth-child(2),
.recordRg .otherCon h4 > span:nth-child(2) {
    font-family: Lato-Regular;
    font-size: 12px;
    color: #939eab;
    letter-spacing: 0;
    line-height: 28px;
    margin-right: 6px;
}
.recordLf .otherCon div {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #939eab;
    letter-spacing: 0;
    line-height: 27px;
}
.recordRg {
    text-align: right;
}
.recordRg .otherImg {
    float: right;
    margin-left: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.recordRg .otherImg > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.recordRg .otherCon h4 {
    font-family: Lato-Bold;
    font-size: 14px;
    color: #323c47;
    letter-spacing: 0;
    line-height: 27px;
    overflow: hidden;
}
.recordRg .otherCon h4 span {
}
.recordRg .otherCon > div {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #939eab;
    letter-spacing: 0;
    line-height: 27px;
    text-align: left;
}
.recordRg .peopleName {
    float: right;
    font-family: Lato-Bold;
    font-size: 14px;
    color: #323c47;
    letter-spacing: 0;
    line-height: 27px;
}
.recordRg .otime {
    float: right;
    font-family: Lato-Regular;
    font-size: 12px;
    color: #939eab;
    letter-spacing: 0;
    line-height: 22px;
}
.recordRg .otherCon {
    float: right;
}
.recordRg .messageCon {
    float: right;
    display: flex;
}
.recordLf .messageCon {
    float: left;
    display: flex;
}
.otherCon {
    width: 86%;
}
.chatInputK {
    height: 156px;
}
.followCon {
    padding: 8px 20px;
    width: 260px;
    height: 64px;
    border: 1px solid #e5e7e9;
    border-radius: 3px;
}
.followCon h3 {
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    color: #323c47;
    letter-spacing: 0;
    line-height: 27px;
}

.followCon > div:last-child > div {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #939eab;
    letter-spacing: 0;
    line-height: 22px;
}
.recordRg .followCon {
    float: right;
}
.chatMessage > ul {
    padding: 20px 0;
    overflow-y: scroll;
    height: 320px;
}
 .videoChatMessage > ul::-webkit-scrollbar {
   display:none
}
.videoChatBox .recordLf .otherCon h4,
.videoChatBox .recordRg .otherCon h4 span{
    color:white !important
}
.sendBtnBox>div{
    text-align: right
}
.chatRecord > li:after {
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.chatInputK textarea {
    height: 138px;
}
.allReadColor {
    color: #939eab;
    margin-right: 10px;
}
.noReadColor {
    color: #ff0000;
    margin-right: 10px;
}
d .sendImgCss {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
}
.followBox > span:last-child {
    float: right;
    cursor: pointer;
}
.followBox {
    padding: 4px 0;
    cursor: pointer;
}
.upload-demo-chat {
    position: absolute;
    width: 44px;
    height: 55px;
}
.upload-demo-chat > div {
    width: 100%;
    height: 100%;
}
.upload-demo-chat > div button {
    visibility: hidden;
    width: 100%;
    height: 100%;
}
.upload-demo-chat .el-upload__input {
    display: none;
}

.upload-demo-chat .el-upload-list {
    display: none;
}
.imgUrlBig {
    width: 50px;
    height: 100px;
}
.imgUrlBig > img {
    width: 100%;
    height: 100%;
}

.followOrQuest {
    display: flex;
    display: -webkit-flex;
    padding: 6px 12px;
    box-sizing: border-box;
    width: 260px;
    height: 65px;
    border: 1px solid #e5e7e9;
    border-radius: 3px;
    background: white
}
.followOrQuest > div:last-child h3 {
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    color: #323c47;
    letter-spacing: 0;
    line-height: 27px;
}
.followOrQuest > div:first-child {
    margin-right: 10px;
    padding-top: 10px;
}
.followOrQuest > div:last-child > div {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #939eab;
    letter-spacing: 0;
    line-height: 22px;
}
.sendVideo {
    position: relative;
    display: block;
}
.sendVideo .userMember {
    position: absolute;
    width: 200px;
    height: 200px;
    background: white;
    box-shadow: 4px 4px 4px #cccccc;
    overflow-y: scroll;
    top: -78px;
    left: 36px;
}
.sendVideo .userMember .el-checkbox {
    display: block;
    text-align: left;
    margin-left: 17px;
}
.sendVideo .userMember h4 {
    margin-bottom: 13px;
    padding-top: 10px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #5c5c5c;
    letter-spacing: 0;
}

.setVideoBtn {
    width: 82%;
    height: 30px;
    line-height: 12px;
}
.otherNumClass {
    position: relative;
    width: 94%;
    padding: 0 10px;
    overflow: hidden;
    height: 23px;
    padding-left: 17px;
}
.otherNumClass::before {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    background: #2ebd41;
    border-radius: 50%;
    left: 0px;
    top: 8px;
}
.contentClass {
    font-family: Lato-Regular;
    font-size: 14px;
    color: #4da1ff;
    letter-spacing: 0;
    text-align: right;
    line-height: 27px;
}
.noReadro > span {
    display: block;
    width: 30px;
    margin: 0 10px;
}
.loadMoreChat {
    cursor: pointer;
    text-align: center;
}
.enterFile {
    position: relative;
}
.enterFile ul {
    position: absolute;
    color: black;
}
.enterFile ul li {
    text-align: center;
    line-height: 23px;
    font-size: 11px;
}
.remarkClass .el-form-item__content {
    margin-left: 0;
}
.drugsDialogClass {
    height: 100%;
}
.drugsDialogClass > div {
    margin-top: 0 !important;
    height: 100%;
}
.videoUserHeadClass {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.videoUserHeadClass > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.chatDialog .el-dialog__body {
    padding-top: 0;
}
.clickColor{
    color:#EA2929 
}


/* 医生详情 */
.consultationDetailClass .el-dialog__body {
    height: 470px;
    overflow: auto;
    padding: 25px 40px;
}
.doctorDetailBox li {
    display: flex;
    display: -webkit-flex;
    margin-bottom: 35px;
}
.doctorDetailBox li h5 {
    margin-bottom: 10px;
}
.headImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 22px;
}
.headImg > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.allReadColorVideo,
.noReadColorVideo{
    margin-left: 10px
}
.executionTime{
    font-family: PingFangSC-Regular;
font-size: 14px;
color: #646464;
letter-spacing: -0.17px;
line-height: 51px;
    margin-left: 10px;
}
.huifuBoxClass>div:nth-child(2){
    position: relative;

}

/* 会诊 */
/* 公共样式 */
.Admin-title {
    margin-bottom: 42px;
}
/* .admin-oMain {
    padding: 30px 38px;
    background: #ffffff;
    border: 1px solid #e5edf3;
    box-shadow: 0 6px 36px 0 rgba(0, 62, 100, 0.04);
    border-radius: 4px;
} */
/* .admin-oMain > div {
    position: relative;
} */
.mainTab {
    display: flex;
    display: -webkit-flex;
}
.mainTab > div:first-child {
    width: 100%;
}
/* 医生端样式 */
.consultationBox {
    padding-top: 50px;
}
.doc-title {
    display: flex;
    display: -webkit-flex;
    margin-bottom: 52px;
    justify-content: space-between;
}
.doc-title > div:nth-child(2) {
    margin-left: 178px;
}
.doc-title > button {
    margin-top: -7px;
    margin-right: 44px;
}
.evaluateBtn {
    width: 57px;
    height: 20px;
    background: rgba(119, 140, 162, 0.1);
    border: 1px solid rgba(119, 140, 162, 0.6);
    border-radius: 3px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #778ca2;
    line-height: 3px;
}

/* 管理端端样式 */

.mainTab {
    margin-bottom: 30px;
}

.recordBtn {
    width: 57px;
    height: 20px;
    background: rgba(66, 133, 244, 0.1);
    border: 1px solid rgba(66, 133, 244, 0.6);
    border-radius: 3px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #4d7cfe;
    line-height: 3px;
}
.startGroup input {
    width: 162px;
    height: 28px;
}
.confirmBtn {
    width: 100%;
    height: 39px;
    background: #4da1ff;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    line-height: 21px;
}
.confirmBtnBox > div {
    margin-left: 0 !important;
}
.evaluateInput > textarea {
    width: 478px;
    height: 177px;
}
.evaluateMargin1 {
    margin-bottom: 68px;
}
.evaluateMargin > div {
    margin-left: 0px !important;
}
.evaluateBox .el-dialog__body {
    padding: 25px 60px;
}
.evaluateCont {
    width: 90%;
}
.evaluateCont > h5 {
    font-family: Helvetica;
    font-size: 0.14rem;
    color: #252631;
}
.evaluateCont > div {
    font-family: PingFangSC-Regular;
    font-size: 0.12rem;
    color: #98a9bc;
    line-height: 21px;
}
.evaluateBox2 li {
    margin-bottom: 18px;
    /* display: flex;
    display: -webkit-flex;
    justify-content: space-between; */
}
/* 查看记录 */
.hisMain {
    padding: 10px 28px;
}
.ohisList {
    margin-bottom: 25px;
}
.ohisList > h3 {
    margin-bottom: 15px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #000000;
    letter-spacing: -0.4px;
    font-weight: normal;
}
.ohisListMain {
    display: flex;
    display: -webkit-flex;
    margin-bottom: 15px;
}
.ohisListMain > div:first-child {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 12px;
}
.ohisListMain > div:first-child > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.ohisListRg > div {
    font-size: 0.14rem;
    font-family: PingFangSC-Regular;
    color: #323c47;
}
.ohisListRg > div:first-child {
    color: #939eab;
    font-size: 0.12rem;
}
.ooRed {
    color: red !important;
}
.addHospitalBox {
    position: relative;
}
.addHospitalBox>div {
    position: relative;
}
.addHospital {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    right: -3px;
    top: 8px;
    cursor: pointer;
}
.addHospital > img {
    width: 100%;
    height: 100%;
}
.tablePublicClass {
    border: none;
}
.tablePublicClass .el-table td,
.tablePublicClass .el-table th {
    font-family: PingFangSC-Semibold;
    font-size: 14px;
    color: #5e6875;
    letter-spacing: 0;
    border-right: none;
}
.tablePublicClass .el-table td {
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #5e6875;
    letter-spacing: 0;
}


.el-table--border td,
.el-table--border th,
.el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed {
    border-right: none;
}
.invitationClass .btnClass {
    width: 100%;
    height: 39px;
    background: #4da1ff;
    border-radius: 4px;
    font-family: PingFangSC-Semibold;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 0.5px;
    text-align: center;
}
.invitationClass .el-dialog__body {
    padding: 18px 12px 30px;
    overflow: hidden;
}
.invitationClass .el-tree {
    margin-left: -23px;
    background: none;
    margin-bottom: 14px;
}
.invitationClass .el-checkbox__inner {
    width: 20px;
    height: 20px;
}
.invitationClass .el-tree-node__label {
    margin-top: -6px;
}
.invitationClass .el-checkbox__inner::after {
    left: 7px;
    top: 3px;
}
.startGroup .el-form-item__label {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #939eab;
    letter-spacing: 0;
}
.startGroup .el-dialog__title {
    font-family: PingFangSC-Regular;
    font-size: 23px;
    color: #323c47;
    letter-spacing: 0;
    text-align: center;
    line-height: 33px;
}
.startGroup .el-dialog__body {
    padding: 3px 45px 1px;
}
.startGroup .el-form-item {
    margin-bottom: 19px;
}


/* 接收视频 */
.receiveVideoClass>div{
    background: #FFFFFF;
border: 1px solid #DCE0E6;
border-radius: 12px;
height: 376px;
padding-top:36px;
}
.receiveVideoClass .el-dialog__header{
display: none;

}
.receiveVideoClass .el-dialog__body{
    padding:0
}
.receiveVideoHead{
    margin-bottom: 70px
}
.receiveVideoHead>div:nth-child(1){
    text-align: center;
    margin-bottom: 15px;
}
.receiveVideoHead>div:nth-child(1)>img{
    width:108px;
    height: 108px;
}
.receiveVideoHead>h4{
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #646464;
    text-align: left;
    text-align: center;
    margin-bottom: 10px;
}
.receiveVideoHead>div:nth-child(3){
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #8C8C8C;
    text-align: left;
    text-align: center
}
.receiveVideoBtn{
    display:-webkit-flex;
    display:flex;
    margin:0 auto;
    width:384px;
}
.receiveVideoBtn>div{
    margin:0 74px;
    cursor: pointer;
}
.receiveVideoBtn>div>div:nth-child(1){
    width:38px;
    height: 38px;
    margin-bottom: 14px
}
.receiveVideoBtn>div>div:nth-child(1)>img{
    width:100%;
    height: 100%;
}
.receiveVideoBtn>div>div:nth-child(2){
    text-align: center;
    font-family: PingFangSC-Regular;
font-size: 14px;
color: #8C8C8C;
}



/* 协作 */
.invitationClass .btnClass {
    width: 100%;
    height: 39px;
    background: #4da1ff;
    border-radius: 4px;
    font-family: PingFangSC-Semibold;
    font-size: 12px;
    color: #ffffff;
    letter-spacing: 0.5px;
    text-align: center;
}
.invitationClass .el-dialog__body {
    padding: 18px 12px 30px;
    overflow: hidden;
}
.invitationClass .el-tree {
    margin-left: -23px;
    background: none;
    margin-bottom: 14px;
}
.invitationClass .el-checkbox__inner {
    width: 20px;
    height: 20px;
}
.invitationClass .el-tree-node__label {
    margin-top: -6px;
}
.invitationClass .el-checkbox__inner::after {
    left: 7px;
    top: 3px;
}
/* 公共样式 */
.Admin-title {
    margin-bottom: 42px;
}

.admin-oMain {
    padding: 30px 38px;
    background: #ffffff;
    border: 1px solid #e5edf3;
    box-shadow: 0 6px 36px 0 rgba(0, 62, 100, 0.04);
    border-radius: 4px;
}

.admin-oMain > div {
    position: relative;
}

.mainTab {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}

.mainTab > div:first-child {
    width: auto !important;
}

/* 医生端样式 */
.cooperation .doc-title {
    display: flex;
    display: -webkit-flex;
    /* justify-content: space-evenly; */
    align-items: baseline;
    margin-bottom: 52px;
}

.el-tree-node__content {
    margin: 0 0 20px 20px !important;
}

.el-tree-node__content .el-checkbox__inner {
    width: 20px !important;
    height: 20px !important;
}

.evaluateBtn {
    width: 57px;
    height: 20px;
    background: rgba(119, 140, 162, 0.1);
    border: 1px solid rgba(119, 140, 162, 0.6);
    border-radius: 3px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #778ca2;
    line-height: 3px;
}

.startConsul {
    width: 196px;
    height: 40px;
    background: #4da1ff;
    border-radius: 4px;
    font-family: PingFangSC-Semibold;
    font-size: 22px;
    color: #ffffff;
    letter-spacing: 0.92px;
    text-align: center;
    line-height: 0px;
}

/* 管理端端样式 */

.mainTab {
    margin-bottom: 30px;
}

.recordBtn {
    width: 57px;
    height: 20px;
    background: rgba(66, 133, 244, 0.1);
    border: 1px solid rgba(66, 133, 244, 0.6);
    border-radius: 3px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #4d7cfe;
    line-height: 3px;
}

/* .startGroupXiezuo {
    width: 30%;
    margin: auto;
}

.startGroupXiezuo input {
    height: 30px;
} */

.confirmBtn {
    width: 100%;
    height: 39px;
    background: #4da1ff;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    line-height: 21px;
}

.confirmBtnBox {
    display: flex;
}

.confirmBtnBox > div {
    margin-left: 0;
}

.evaluateInput > textarea {
    width: 478px;
    height: 177px;
}

.evaluateMargin1 {
    margin-bottom: 68px;
}

.evaluateMargin > div {
    margin-left: 0px !important;
}

.evaluateBox .el-dialog__body {
    padding: 25px 60px;
}

.evaluateCont {
    width: 90%;
}

.evaluateCont > h5 {
    font-family: Helvetica;
    font-size: 0.14rem;
    color: #252631;
}

.evaluateCont > div {
    font-family: PingFangSC-Regular;
    font-size: 0.12rem;
    color: #98a9bc;
    line-height: 21px;
}


.invitationClass .el-form-item__label{
    font-family: PingFangSC-Regular;
font-size: 14px;
color: #939EAB;
letter-spacing: 0;
    width:46px !important
}
.invitationClassInput .el-form-item__content{
    margin-left: 48px !important;
}
.invitationClass .el-input__inner{
    width:162px;
    height: 28px;
    border: 1px solid #E6EAEE;
border-radius: 4px;
}
.invitationClassInputBtn .el-form-item__content{
    margin-left: 0px !important;
}
.chatDialog .el-dialog__body{
    padding-top:0 !important
}
.videoUserNumClass{
    margin:0 auto;
    width:355px;
    height: 36px;
    opacity: 0.73;
background: #00A3FF;
box-shadow: 0 2px 3px 0 rgba(185,185,185,0.50);
border-radius: 45px;
font-family: PingFangSC-Light;
font-size: 14px;
color: #FFFFFF;
letter-spacing: -0.17px;
text-align: center;
line-height: 36px;
position: absolute;
left: 159px;
cursor: pointer;
}
.videoUserNumClass>img{
    margin-right:10px;
}
